.list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    gap: 5px;
    scrollbar-width: 8px;
    scrollbar-base-color: transparent;
    scrollbar-track-color: var(--primary);
}

*::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--highlight); /* Color of the scrollbar thumb */
    border-radius: 4px; /* Rounded corners of the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5); /* Color of the scrollbar thumb on hover */
}

*::-webkit-scrollbar-track {
    background-color: transparent; /* Remove background color for the scrollbar track */
}

.item {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background);
    border: 1px solid var(--highlight);
    display: flex;
    flex-direction: row;
    justify-content: center;
}