.currencyConverter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.currencyConverterInput {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    align-items: center
}

@media only screen and (max-width: 800px) {
    .currencyConverterInput {
        flex-direction: column !important;
    }
}