:root {
  --background: #171717;
  --background-dark: #131313;
  --primary: #16C37A;
  --border: rgba(255,255,255,0.2);
}

.App {
  height: 100vh;
  text-align: center;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--border);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.02);
  justify-content: flex-start;
  gap: 10px;
  box-shadow: 0 5px 2px rgba(0,0,0,0.2);
}

.input {
  padding: 5px;
  display: flex;
  flex-direction: row;
  border: solid 1px var(--border);
  border-radius: 10px;
  height: 50px;
  background-color: var(--background-dark);
  box-shadow: 0 0 5px rgba(0,0,0,0.2) inset;
  color: white;
}

.button {
  background-color: var(--border);
  border: solid 1px rgba(255,255,255,0.3);
  border-radius: 10px;
  padding: 10px;
  flex: 1;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 5px 2px rgba(0,0,0,0.2);
}

.button:hover{
  transform: scale(1.05);
}

.button-active {
  background-color: var(--primary);
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.text {
  color: white;
  font-weight: 600;
}
