:root {
  --background: #171717;
  --primary: #16C37A;
  --border: rgba(255,255,255,0.2);
}

.App {
  height: 100vh;
  text-align: center;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: solid 2px var(--border);
  border-radius: 10px;
  background-color: rgba(255,255,255,0.02);
  justify-content: flex-start;
  height: 500px;
  gap: 10px;
}

.button {
  background-color: var(--primary);
  border: solid 2px rgba(255,255,255,0.3);
  border-radius: 5px;
  padding: 10px;
  flex: 1;
}

.header {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
